{
    "env": {
        "test": {
            "presets": [
                "@babel/preset-env"
            ],
            "plugins": [
                "@babel/plugin-transform-runtime",
                "@babel/plugin-transform-react-jsx"
            ]
        },
        "production": {
            "presets": [
                "@babel/preset-react"
            ]
        },
        "development": {
            "presets": [
                "@babel/preset-react"
            ]
        }
    },
}